APP_ENV=local
APP_KEY=SomeRandomString
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

TW_ID=HtebUFoJmxLvARFnbnEMGJck5
TW_SECRET=m2kK7lefkTojzT9zVIt4QwjYBDYVo8bSGl9O1jqVuMoWzWlmny
TW_REDIRECT=http://localhost:8000/events/social/handle/twitter

FB_ID=618508818322866
FB_SECRET=bc0d89f9d0923687c999e85f55f1de45
FB_REDIRECT=http://localhost:8000/events/social/handle/facebook

GG_ID=285976670365-f1g996uj6j8ottg7jv3s2l278s558a2g.apps.googleusercontent.com
GG_SECRET=RjhFJfR1B9HwQR8svRVmamBf
GG_REDIRECT=http://localhost:8000/events/social/handle/google
